#content {width:700px;height:100%;}
#blog-list {text-decoration:none;list-style:none;margin-top:50px;float:left;}
#blog-list-wrapper {width:75%;}
#blog-list-wrapper > h1 {font-size:2.3em;border-bottom:2px solid #636363;line-height:3em;}
#tag-list-wrapper {width:20%;float:left;margin-left:5%;box-sizing:border-box;}
#tag-list {list-style:none;padding-left:2px;font-weight:bold;padding:5px;}
#tag-list > li {text-align: right;}
#tag-list:hover {cursor:hand;}
#contact-root {clear: both;}
.entry {margin-bottom:30px;padding-bottom:20px;}
.entry > a {color:#636363;font-size:1.8em;font-weight:bold;}
.post-overview {margin-top:10px;padding-top:10px;border-top:1px solid #636363;}